.env
data/
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
env/
venv/
.venv/
pip-log.txt
pip-delete-this-directory.txt
.tox/
.coverage
.coverage.*
.cache
nosetests.xml
coverage.xml
*.cover
*.log
.streamlit/secrets.toml
.streamlit/secrets.local.toml
.git
.mypy_cache
.pytest_cache
.hypothesis